Package: com.xtm3x.integrate
Name: Integrate
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove table view separators.
Maintainer: xTheMaster3x
Author: xTheMaster3x
Section: Tweaks
